// Variables
$grey: #55565a;
$off-white: #f8f2e9;
$dark-grey: #111820;
$yellow: #eab63f;
$purple: #64689b;
$green: #00a29c;
$red: #df4827;
$white: #eee;
$black: #000;

$text-color: $black;

$fw-menu-duration: 250ms;
$side-bar-width: 12em;
$menu-max-height: 20em;
/*


TINTS

100%
75%
50%
20%

Examples:
//name-of-class: lighten($color, percentage)

.nav {
background-color: lighten($grey, 75%);
}

*/

