// Variables
$grey: #55565a;
$off-white: #f8f2e9;
$dark-grey: #111820;
$yellow: #eab63f;
$purple: #64689b;
$green: #00a29c;
$red: #df4827;
$white: #fff;
$black: #000;

$text-color: $black;

$grey-1: #DCDBDB; //lightest
$grey-2: #A6A5A7;
$grey-3: #7D7D80;
$grey-4: #56565A;

//Variables for main styling
$grid-opacity: 0.2;
$grid-size: 2em;

//Variables for header/nav/sidebar styles

$menu-duration: 250ms;
$menu-max-height: 20em;
$menu-toggle-size: 3em;
$menu-background: $off-white;
$menu-burger-lines: 4px;
$menu-burger: darken($menu-background, 75%);
$menu-text: darken($menu-background,75%);
$menu-underline: darken($menu-background,75%);
$menu-underline-stroke: 1px;
$menu-fly-out-width: 18em;
$side-bar-width: 15em;

$info-text: $text-color;
$side-info-top: 22em;

$svg-transition: 500ms;
$svg-fill: $grey;
$svg-top-fill: lighten($grey,30%);
