@mixin zero {
  margin: 0;
  padding: 0;
}

@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin main-btn {
  display: block;
  text-transform: uppercase;
  padding: 1em;
  color: $white;
  background-color: rgba($grey-4, .7);
  text-decoration: none;
  text-align: center;
  &:hover, &:focus {
    color: $white;
    background-color: rgba($green, .7);
    transition: all 250ms ease-in-out;
  }
}

@mixin main-btn-tickets {
  display: block;
  text-transform: uppercase;
  padding: 1em;
  color: $white;
  background-color: rgba($green, .7);
  text-decoration: none;
  &:hover, &:focus {
    color: $white;
    background-color: rgba($green, 1);
    transition: all 250ms ease-in-out;
  }
  @media only screen and (min-width: 80em){
    margin-top: 1em;
  }
}

@mixin header-1 {
  color: $black;
  font-size: 1.5em;
  text-transform: uppercase;
}

@mixin btn-outline-white {
  text-align: center;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  padding: .75em 1.5em;
  font-size: 1em;
  text-transform: uppercase;
  &:hover, &:focus {
    background-color: darken($grey, 10%);
  }
  &:active{
    background-color: darken($grey, 20%);
  }
}

@mixin btn-main {
  text-align: center;
  text-decoration: none;
  color: $white;
  padding: 1em 2em;
  background-color: $grey-2;
  &:hover, &:focus {
    background-color: $green;
  }
}
