	<div class="grid about-holder">
		<div class="framework-margin">
			<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
				<div class="about-sec">
					<h1 itemprop="name" class="about-header">FRAMEWORK 2016</h1>
					<p itemprop="discription" class="about-para">The 2016 Algonquin College Graphic Design graduates' skills have been built on a foundation of collective creativity and design talents. They have spent the past three years refining their skills and techniques to bring forth impressive and outstanding&nbsp;portfolios. <br><br>Come see Ottawa’s best raw talent in print, motion and digital design at the Framework portfolio showcase on April 29th, 2016 – there’s even a cool crisp beer with your name&nbsp;on&nbsp;it.</p>
				</div>
			</div>

			<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
				{% include countdown-clock.html %}
				<div class="text-center unit unit-xs-hidden unit-s-hidden unit-m-hidden unit-l-hidden unit-xl-1 pad-t">
					<a class="fw-link-center" target="_blank" href="https://www.eventbrite.ca/e/framework-2016-algonquin-college-graphic-design-gradshow-tickets-22402370092">Tickets</a>
				</div>
			</div>

			</div>


	</div>
