<div class="grid about-holder">
  <div class="framework-margin">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
      <div class="about-sec">
        <h1 itemprop="name" class="about-header">FRAMEWORK 2016</h1>
        <p itemprop="discription" class="about-para">Framework, as our theme, represents the foundation of design principles that we share as graduates of the Algonquin College Graphic Design Program (2016). While each of us is unique in our personality, style and specialties, we share this common framework as a starting point to enter into the design industry.</p>
        <p itemprop="discription" class="about-para pad-t">Our graduate showcase on April 29th is a celebration of our achievements in this rigorous program, and a chance for us to share the best of our work with our mentors, idols, and friends in the local design community. We hope to see you there.</p>
      </div>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 about-bottom">
      {% include countdown-clock.html %}
    </div>
  </div>
</div>
