	<div class="grid">
		<div class="framework-margin">
			<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-2-3 unit-xl-2-3">
				<div class="about-sec">
					<h1 class="about-header">FRAMEWORK 2016</h1>
					<p class="about-para">The 2016 Algonquin College Graphic Design graduates' skills have been built on a foundation of collective creativity and design talents. They have spent the past three years refining their skills and techniques to bring forth impressive and outstanding&nbsp;portfolios. <br><br>Come see Ottawa’s best raw talent in print, motion and digital design at the Framework portfolio showcase on April 29th, 2016 – there’s even a cool crisp beer with your name&nbsp;on&nbsp;it.</p>
				</div>
			</div>

			<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-3 unit-xl-1-3">
				{% include countdown-clock.html%}
			</div>
		</div>
	</div>

<!-- JS -->
<!-- 	<script src="https://use.typekit.net/mly7wqm.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/main.js"></script> -->
