<div class="clock-holder-2">

<div class="clock1">
  <div class="clock-width">
    <div id="clockdiv">
      <div class="inline">
        <span class="days clock-number"></span>
        <p class="smalltext">Days</p>
      </div>
      <div class="inline">
        <span class="hours clock-number"></span>
        <p class="smalltext">Hours</p>
      </div>
      <div class="inline">
        <span class="minutes clock-number"></span>
        <p class="smalltext">Minutes</p>
      </div>
      <div class="inline">
        <span class="seconds clock-number"></span>
        <p class="smalltext">Seconds</p>
      </div>
    </div><!--/clockdiv-->
  </div><!--/clock-width-->
</div><!--/clock-1-->

</div>