<div class="clock-holder-2">

<div class="clock1">
  <div class="clock-width">
    <div id="clockdiv">
      <div class="clock-inline">
        <span class="clock-number"></span>
        <p class="clock-smalltext">Days</p>
      </div>
      <div class="clock-inline">
        <span class="clock-number"></span>
        <p class="clock-smalltext">Hours</p>
      </div>
      <div class="clock-inline">
        <span class="clock-number"></span>
        <p class="clock-smalltext">Minutes</p>
      </div>
      <div class="clock-inline">
        <span class="clock-number"></span>
        <p class="clock-smalltext">Seconds</p>
      </div>
    </div><!--/clockdiv-->
  </div><!--/clock-width-->
</div><!--/clock-1-->

</div>