<input class="filter-radio" id="filter-all" checked type="radio" name="filters">
<input class="filter-radio" id="filter-branding" type="radio" name="filters">
<input class="filter-radio" id="filter-ux" type="radio" name="filters">
<input class="filter-radio" id="filter-web" type="radio" name="filters">
<input class="filter-radio" id="filter-illustration" type="radio" name="filters">
<input class="filter-radio" id="filter-motion" type="radio" name="filters">
<input class="filter-radio" id="filter-print" type="radio" name="filters">
<input class="filter-radio" id="filter-type" type="radio" name="filters">
<input class="filter-radio" id="filter-photo" type="radio" name="filters">


