<div class="section-margin">
<h2 class="grad-title filter">Graduates</h2>

<input class="filter-radio" id="filter-all" checked type="radio" name="filters">
<input class="filter-radio" id="filter-branding" type="radio" name="filters">
<input class="filter-radio" id="filter-ux" type="radio" name="filters">
<input class="filter-radio" id="filter-web" type="radio" name="filters">
<input class="filter-radio" id="filter-illustration" type="radio" name="filters">
<input class="filter-radio" id="filter-motion" type="radio" name="filters">
<input class="filter-radio" id="filter-print" type="radio" name="filters">
<input class="filter-radio" id="filter-type" type="radio" name="filters">
<input class="filter-radio" id="filter-photo" type="radio" name="filters">

<div class="grid">
  <div class="unit">
    <div class="filters">
      <label class="filter-btn" for="filter-all">All</label>
      <label class="filter-btn" for="filter-branding">Branding</label>
      <label class="filter-btn" for="filter-ux">UX-UI</label>
      <label class="filter-btn" for="filter-web">Web</label>
      <label class="filter-btn" for="filter-illustration">Illustration</label>
      <label class="filter-btn" for="filter-motion">Motion</label>
      <label class="filter-btn" for="filter-print">Print</label>
      <label class="filter-btn" for="filter-type">Typography</label>
      <label class="filter-btn" for="filter-photo">Photography</label>
    </div>
  </div> <!-- /unit -->
</div> <!-- /grid -->
</div>
