
<footer class=" gutter grid grid-middle unit ">
<div class="">
	<h2 class=" unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 ">SPECIAL THANKS TO OUR SPONSORS</h4>



		<div class="unit">
			<img  class="ft-sponsor unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2" src="http://placehold.it/150x150">

		</div >

		<div class="unit">
			<img  class="ft-sponsor unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2" src="http://placehold.it/150x150">

		</div >

		<div class="unit">
			<img  class="ft-sponsor unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2" src="http://placehold.it/150x150">

		</div >

		<div class="unit">
			<img  class="ft-sponsor unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1" src="http://placehold.it/150x150">

		</div >
</div>

<p class="unit ft-copyright">© Algonquin Collage Graduating Class of 2016</p>


</footer>

