<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>footer</title>
	<!-- put icon link first to load first so MY css over rides. -->

    <link href="css/style.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<footer class=" gutter grid grid-middle unit ">
<div class="">
	<h2 class=" unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 ">SPECIAL THANKS TO OUR SPONSORS</h4>



		<div class="unit">
			<img  class="ft-sponsor unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2" src="http://placehold.it/150x150">

		</div >

		<div class="unit">
			<img  class="ft-sponsor unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2" src="http://placehold.it/150x150">

		</div >

		<div class="unit">
			<img  class="ft-sponsor unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2" src="http://placehold.it/150x150">

		</div >

		<div class="unit">
			<img  class="ft-sponsor unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1" src="http://placehold.it/150x150">

		</div >
</div>

<p class="unit ft-copyright">© Algonquin Collage Graduating Class of 2016</p>


</footer>

<script src="https://use.typekit.net/mly7wqm.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

</body>



</html>
