

<footer class="gutter grid grid-middle">
	<div class="unit unit-xs-1 pad-t">
  	<h3 class="thanks">Special Thanks to our Sponsors</h3>
  </div>
  	<div class="unit-xs-1 pad-t pad-b">
{% for sponsor in site.data.sponsors %}
	    <div class="unit unit-xs-1 unit-s-1-2 unit-m-1-2 unit-l-1-4 sponsor-center pad-t-2">
	      <img class="ft-sponsor" src="{{site.cdn}}img/{{sponsor.img}}" alt="{{sponsor.name}}">
	    </div>
{% endfor %}

		</div>
	<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		<p class="unit thanks">	&copy; Algonquin College Class of 2016</p>
	</div>
</footer>

