<div class="fe-holder framework-padding">

  <h2 class="fe-title">Fundraising Events</h2>

  <div class="grid">


    <div class="unit unit-xs-1 unit-s-1-2 unit-m-1-3 unit-l-1-3 unit-lx-1-3">
      <div class="fe-images">
        <img class="fe-img" src="http://placehold.it/960x960">
        <p class="fe-event">Name of Event</p>
      </div>
      <div class="fe-info">
        <p class="fe-details">Location here<br>Date and time here</p>
        <p class="fe-calender">Google calander</p>
      </div>
    </div>


    <div class="unit unit-xs-hidden unit-s-1-2 unit-m-1-3 unit-l-1-3 unit-lx-1-3">
      <div class="fe-images">
        <img class="fe-img" src="http://placehold.it/960x960">
        <p class="fe-event">Name of Event</p>
      </div>
      <div class="fe-info">
        <p class="fe-details">Location here<br>Date and time here</p>
        <p class="fe-calender">Google calander</p>
      </div>
    </div>
    <div class="unit unit-xs-hidden unit-s-hidden unit-m-1-3 unit-l-1-3 unit-lx-1-3">
      <div class="fe-images">
        <img class="fe-img" src="http://placehold.it/960x960">
        <p class="fe-event">Name of Event</p>
      </div>
      <div class="fe-info">
        <p class="fe-details">Location here<br>Date and time here</p>
        <p class="fe-calender">Google calander</p>
      </div>
    </div>

  </div>
</div>
