<div class="grid fw-info-holder">
	<div class="fw-info-sec1 unit unit-xs-1 unit-s-1 unit-m-2-5 unit-l-2-5 unit-xl-hidden">
		<h2 class="kilo push-none">Grad Show</h2>
		<p class="fw-info-date zetta push-none">April 29, 2016</p>
		<p class="fw-info-time mega">5:00pm-9:00pm</p>
	</div>
	<div class="fw-info-sec2 unit unit-xs-1 unit-s-1 unit-m-2-5 unit-l-2-5 unit-xl-hidden">
		<p class="fw-info-venue peta push-none">Landsdowne Horticultural Building</p>
		<a section-margin href="https://goo.gl/maps/otegWHi52sT2" class="fw-info-address">1525 Princess Patricia Way, Ottawa, ON</a>
	</div>
	<div class="fw-info-sec3 unit unit-xs-1 unit-s-1 unit-m-1-5 unit-l-1-5 unit-xl-hidden">
		<button>Tickets</button>
	</div>
</div>
