<section class="ph-graduates">
	<ul class="filter-items ph-student">
  {% for student in site.grads %}
      <li class="ph-student" data-category="{{ student.specialization}}">
        <a href="#">
        <img class="img-flex ph-gradphoto-top" src="http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/fw-favicon.png" alt="{{student.full_name}}">
        <p class="ph-fullname">{{student.full_name}}</p>
        <p class="ph-partialname">{{student.short_name}}</p>
        </a>
      </li>
  {% endfor %}
</ul>
</section>
