<div class="rg-wrap-name ">

	<h2 class="rg-persons-name"><span class="rg-name-sm">name</span> <strong>here</strong></h2>

</div>

<div class="grid">

	<div class="unit unit-s-1 unit-m-1 unit-l-1 unit-xl-5-7">

		<div>
			
			<div class="rg-embed rg-embed-16by9">
				<iframe class="rg-embed-item" src="https://player.vimeo.com/video/146433135" frameborder="0" allowfullscreen></iframe>
			</div>

		</div>

		<img class="rg-portfolio-img rg-float unit-xs-1 s-1 m-1-2" src="http://placehold.it/960x960" alt="">

		<img class="rg-portfolio-img rg-float unit-xs-1 s-1 m-1-2" src="http://placehold.it/960x960" alt="">

	</div>

	<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-2-7">
		<div class="rg-profil">

			<img class="rg-profil-img rg-float unit-s-1 unit-m-1-2 unit-xl-1 " src="http://placehold.it/960x960" alt="">

			<div class="rg-profil-info rg-float s-1 m-1-2 unit-xl-1 ">
				
				<div class="content">
				
					<p class="rg-capital skill peta"> branding, illustration, photography</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ligula tempor, auctor mauris id, porta justo. Nullam ulla.</p>

					
						<p class="rg-links">
							<a href="#">www.domain_name.ca</a>
						</p>

					
					<p class="rg-links">
						<a href="#">email@domain.ca</a>
					</p>

				</div>
				
					<ul class="rg-social-icons">

						<a class=" s-1-3 rg-float" href="#"><li><i class="icon-facebook"></i></i></li></a>
						<a class=" s-1-3 rg-float" href="#"><li><i class="icon-linkedin"></i></i></li></a>
						<a class=" s-1-3 rg-float" href="#"><li><i class="icon-twitter"></i></i></li></a>
					
					</ul>
				
			</div>

		</div>

	</div>
</div>

 <div class="rg-wrap pad-t pad-b kilo">
    <ul class="rg-nav-btn">

      <li class="rg-nav-btn-li"><a class="rg-nav-btn-arrows rg-on" href="#"><</a><a class="rg-nav-btn-a rg-off" href="#">Previous</a></li>

      <li class="rg-nav-btn-li gutter"><a class="rg-nav-btn-a" href="#">All Grads</a></li>

      <li class="rg-nav-btn-li"><a class="rg-nav-btn-arrows rg-on" href="#">></a><a class="rg-nav-btn-a rg-off" href="#">Next</a></li>
    
    </ul>
 
 </div>


 <script src="https://use.typekit.net/mly7wqm.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
 