<div class="social framework-padding" id="social">

	<h2 class="social-section">We're Social</h2>

   <ul class="grid">
    <li class="unit xs-1-2  m-1-3">
        <img class="img-flex island-1-2" src="http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/jed.jpg" alt="Our teacher djing at a pub night fundraising">
    </li>
    <li class="unit xs-1-2  m-1-3">
        <img class="img-flex island-1-2" src="http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/typeclass2.jpg" alt="Sketching at a type class fundraiser">
    </li>
    <li class="unit xs-1-2  m-1-3">
        <img class="img-flex island-1-2" src="http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/pubnight3.jpg" alt="student prints for sale at pub night fundraiser">
    </li>
  </ul>
</div>

<div class="social-footer">
    <ul class="social-icons grid">
      <li class="unit xs-1-3">
        <a class="icon-fb" section-margin href=http://www.facebook.com/framework2016/><span>Facebook</span></a>
      </li>
      <li class="unit xs-1-3">
        <a class="icon-tw" section-margin href="http://twitter.com/FRAMEWORK2016"><span>Twitter</span></a>
      </li>
      <li class="unit xs-1-3">
        <a class="icon-ins" section-margin href="http://www.instagram.com/framework2016/"><span>Instagram</span></a>
      </li>
    </ul>
</div>

<div class="grid">
  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
    <img class="img-flex" src="http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/teachers-transparent.png" alt="our awesome teachers in the Graphic Design project">
  </div>
</div>




