<div class="social framework-padding" id="social">
  <h2 class="social-section">We're Social</h2>
  <ul class="grid" id="instagram-feed"></ul>
</div>

<div class="social-footer">
  <div class="social-icons">
    <ul class="grid">
      <li class="unit xs-1-3">
        <a class="social-facebook" target="_blank" href="http://www.facebook.com/framework2016/"><span>Facebook</span></a>
      </li>
      <li class="unit xs-1-3">
        <a class="social-twitter" target="_blank" href="http://twitter.com/FRAMEWORK2016"><span>Twitter</span></a>
      </li>
      <li class="unit xs-1-3">
        <a class="social-instagram" target="_blank" href="http://www.instagram.com/framework2016/"><span>Instagram</span></a>
      </li>
    </ul>
  </div>
</div>

<div class="grid">
  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
    <img class="img-flex" src="{{site.cdn}}img/teachers-transparent.png" alt="our awesome teachers in the Graphic Design program">
  </div>
</div>




