<div class="social">

	<h2>WE'RE SOCIAL</h2>

   <ul class="grid">
    <li class="unit xs-1-2  m-1-3">
        <img class="img-flex island-1-2" src="http://placehold.it/600x600" alt="">
    </li>
    <li class="unit xs-1-2  m-1-3">
        <img class="img-flex island-1-2" src="http://placehold.it/600x600" alt="">
    </li>
    <li class="unit xs-1-2  m-1-3">
        <img class="img-flex island-1-2" src="http://placehold.it/600x600" alt="">
    </li>
  </ul>
</div>

<div class="social-footer">
    <ul class="social-icons grid">
      <li class="unit xs-1-3">
        <a class="list-group-item" href="https://www.facebook.com/"><i class="btn icon-fb" >Facebook</i></a>
      </li>
      <li class="unit xs-1-3">
        <a class="list-group-item" href="https://twitter.com/FRAMEWORK2016"><i class="btn icon-tw">Twitter</i></a>
      </li>
      <li class="unit xs-1-3">
        <a class="list-group-item" href="https://www.instagram.com/?hl=en"><i class="btn icon-ins">Instagram</i></a>
      </li>
    </ul>
</div>




