<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Graduation Video tag</title>
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/type.css">
	<link rel="stylesheet" href="css/main.css">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body >

<div class="gd-video-wrap">

	<div class=" gd-embed gd-embed--16by9">
		<video class="gd-embed__item gd-grad-vid" src="video/video-grad-site.mp4">
			Placeholder for video grad site.
		</video>
	</div>
	<button class="gd-btn-play-pause"></button>

</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="js/main.js"></script>



</body>

</html>
