<div class="gd-video-wrap is-paused">
  <!-- <div class="gd-embed gd-embed--16by9"> -->
    <img class="img-flex" src="{{site.cdn}}img/website-banners-01.jpg" alt="banner image">
<!--   </div> -->
  <!-- <button class="gd-btn-play-pause"></button> -->
</div>


<!-- <video class="gd-embed__item gd-grad-vid" loop src="" poster="{{site.cdn}}img/website-banners-01.jpg" muted>
  Framwork 2016 Grad site video.
</video> -->



<!-- {{site.cdn}}video/test-video.mp4" poster="{{site.cdn}}img/hero.jpg -->
