<div class="gd-video-wrap is-paused" data-step="1">

    <!-- <img class="video-img img-flex" src="{{site.cdn}}img/website-banners-01.jpg" alt="banner image"> -->
    <div class="hero-billboard gd-embed gd-embed--16by9">


    </div>
    <button class="gd-btn-play-pause"></button>
</div>

<div class="shapes-wrapper">
  <ul class="shapes-list grid">
      <li class="unit unit-xs-1-4 shape"><a id="step-1"href="#1"><img class="img-flex" src="{{site.cdn}}img/fw-shapes-01.svg" alt="framework shape triangle"></a></li>
      <li class="unit unit-xs-1-4 shape"><a id="step-2"href="#2"><img class="img-flex" src="{{site.cdn}}img/fw-shapes-02.svg" alt="framework shape circle"></a></li>
      <li class="unit unit-xs-1-4 shape"><a id="step-3"href="#3"><img class="img-flex" src="{{site.cdn}}img/fw-shapes-03.svg" alt="framework shape square"></a></li>
      <li class="unit unit-xs-1-4 shape"><a id="step-4"href="#4"><img class="img-flex" src="{{site.cdn}}img/fw-shapes-04.svg" alt="framework shape hexagon"></a></li>
  </ul>
</div>



<!-- <video class="gd-embed__item gd-grad-vid" loop src="" poster="{{site.cdn}}img/website-banners-01.jpg" muted>
  Framwork 2016 Grad site video.
</video> -->



<!-- {{site.cdn}}video/test-video.mp4" poster="{{site.cdn}}img/hero.jpg -->
