
.grid-middle {
	background-color:$off-white;
	color:$text-color;
}

.ft-copyright{
	overflow:hidden;
	display: block;
}

.ft-sponsor{
	padding-left: .25em;
	width: 180px;
	margin: auto 0;

}

.thanks{
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.sponsors {
	display: inline-block;
}

.sponsor-center {
	margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0.7000rem;
   @media only screen and (min-width: 60em) {
   	padding-top: 0;
   }
}
