
.grid-middle {
	background-color:$off-white;
	color:$text-color;
}

.ft-copyright{
	overflow:hidden;
	display: block;
}

.ft-sponsor{
	padding-left: .25em;
	width: 180px;
	margin: auto 0;
}

.thanks{
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.sponsors {
	display: inline-block;
}

.sponsor-center {
	margin-left: auto;
  margin-right: auto;
  text-align: center;
}
