
.grid-middle {
	background-color:$grey-4;
	color:$white;
}

.ft-copyright{
	overflow:hidden;
	display: block;
}

.ft-sponsor{
	padding-left: .5em;
	width: 100px;
	width: 100px;
	margin: auto 0;
}

.thanks{
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.sponsors {
	display: inline-block;
}

.sponsor-center {
	margin-left: auto;
  margin-right: auto;
  text-align: center;
}
