.fe-holder {
  background-color: rgba($grey-2, .5 );
  @media only screen and (min-width: 80em) {
      margin-top: 2em;
  }
}

.fe-title {
 @include header-1;
}

.fe-width {
  max-width: 75em;
  margin: 2em auto;;
}

.fe-img-holder {
  position: relative;
  padding: 0.5em
}

.fe-event {
  position: absolute;
  z-index: 100;
  bottom: -0.9em;
  padding: .2em 1em;
  background-color: rgba( $black, .8 );
  overflow: hidden;
  display: block;
  color: white;
  font-family: "Effra", sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
 }

.fe-images-1 {
  .fe-img {
    display: inline-block;
    width: 100%;
    @media only screen and (min-width: 25em) {
      padding-right: .5em;
    }
  }
}

.fe-images-2 {
  .fe-img {
    display: inline-block;
    width: 100%;
    @media only screen and (min-width: 25em) {
      padding-right: .5em;
    }
  }
}

.fe-images-3 {
  .fe-img {
    display: inline-block;
    width: 100%;
    @media only screen and (min-width: 38em) {
      padding-right: .5em;
    }
  }
}
.fe {
  position: relative;
}
.fe-info {
  position: absolute;
  bottom: 0;
  display: inline-block;
  float: left;
  width: calc(100% - 1.5em);
  margin: 0.5em;
  padding: 1em;
  background-color: rgba($black, 0.5);
  color: $white;
  .fe-location {
    font-weight: bold;
  }
  p {
    font-family: "Effra", sans-serif;
    font-size: 1em;
  }
  a {
    font-family: "Effra", sans-serif;
    font-size: 14px;
    color: $text-color;
  }
}

.fe-details-title {
  margin-bottom: 1em;
}
.fe-details {
  margin-bottom: .15em;
}

.fe-calender {
  margin-bottom: 0;
  text-decoration: none;
  color: $text-color;
  font-size: 14px;
}

