.ph-graduates {
	 padding-left: 0em;
	 padding-right: 0em;
}

.ph-image {
	position: relative;
	float: left;
	width: 50%;
	list-style-type: none;

	@media only screen and (min-width: 25em) {
    width:50%;
  }
  @media only screen and (min-width: 38em) {
    width:25%;
  }
  @media only screen and (min-width: 60em) {
    width:16.6%;
  }
  @media only screen and (min-width: 90em) {
    width:12.5%;
  }
   @media only screen and (min-width: 120em) {
    width:12.5%;
  }
}

.ph-student {
	padding-left: 0;
  padding-right: 0;
  @media only screen and (min-width: 38em) {
  	padding-left: 0.6500rem;
  	padding-right: 0.6500rem;
  }
  @media only screen and (min-width: 60em) {
		padding-left: 2.6000rem;
  	padding-right: 2.6000rem;
  }
  @media only screen and (min-width: 90em) {

  }
   @media only screen and (min-width: 120em) {

  }
	p{
	 @include student-name;
	}
}

.ph-partialname {
	display: block;
	@media only screen and (min-width: 80em) {
    display: none;
  }
}

.ph-fullname {
	display: none;
	@media only screen and (min-width: 80em) {
    display: block;
  }
}

/*
.ph-gradphoto-top {
  position: relative;
  height: 120px;
  width: 120px;
}
  img {
    position: absolute;
  }
  img .ph-gradphoto-bottom:hover{
    opacity: 0;
}



.ph-hover {
		position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    z-index: 5;
    transition: all 250ms linear;
}*/


// New Stuff

.ph-image a{
      position: relative;
      display: block;
      padding-top:100%;
      overflow: hidden;
      &:hover .ph-gradphoto-top {
        top: -100%;
      }
}

.ph-gradphoto-top {
    position: absolute;
    top: 0;
    left: 0;
    // transition: all 150ms ease-in-out;
}


/*
.ph-gradphoto-bottom {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
} */


