.fw-header{
  @include zero;
  display: block;
  overflow: hidden;
  background-color: $white;
  position: relative;

  .logo{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 0.5em 1em;
    width: calc(100% - 5em);

    .fw-logo{
      display: block;
      width: 100%;
      max-width: 15em;
      padding: 1em;
      &:hover .svg-top{
        fill: white;
      }
      img,
      svg{
        display: block;
        width: 100%;
      }
      svg{
        .svg-top{
          transition: all 500ms ease-in-out;
        }
      }
    }

  }
  &[data-state="open"]{
    .fw-navigation{
      max-height: 15em;
    }
    .fw-toggle-button{
      background-color: transparent;
    }
    .fw-toggle-button:before {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .fw-toggle-button:after {
      transform: rotate(-45deg) translate(7px, -8px);
    }
    & + #fw-menu {
      max-height: 15em;
    }
  }
  &[data-state="closed"]{
    .fw-navigation{
      max-height: 0;
    }
  }
}


.fw-toggle{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3em;
  margin: 1em;
  padding: 1.5em 0.65em;
  background-color: transparent;

  .fw-toggle-button{
    position: relative;
    &:after, &:before{
      content: "";
      position: absolute;
      left: 0;
      top: -9px;
    }
    &:after{
      top: 9px;
    }
    span{
      @include element-invisible;
      position: relative;
      display: block;
    }
  }
}

.fw-toggle-button,
.fw-toggle-button:after,
.fw-toggle-button:before {
  width: 100%;
  height: 4px;
  background-color: $grey;
  transition: all $fw-menu-duration;
  backface-visibility: hidden;
  border-radius: 2px;
}

.fw-navigation{
  position: relative;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  background-color: transparent;
  transition: max-height $fw-menu-duration ease-in-out;

  ul{
    @include zero;
    list-style: none;
    li{
      a{
        background-color: $white;
        display: block;
        padding: 1em 2em;;
        text-decoration: none;
        color: $text-color;
        &:hover, &:focus{
          background-color: darken($white, 10%);
        }
        &:active{
          background-color: darken($white, 15%);
          color: $white;
        }
      }
    }


  }
}

.fw-info{
  padding: 2em;
  *{
    @include zero;
  }
  h2{
    text-transform: uppercase;
    font-weight: normal;
  }
  .fw-info-date{
    font-weight: bold;
  }
  .fw-info-time{
    margin-bottom: 1em;
  }
  .fw-info-venue{
    font-weight: bold;
  }
  .fw-info-address{
    text-decoration: none;
    color: $text-color;
    &:hover{
      color: lighten($text-color, 50%);
    }
  }
}

@media only screen and (min-width: 25em){

}
@media only screen and (min-width: 38em){
  .fw-info{
    @include element-invisible;
  }
  .fw-navigation{
    width: 18em;
    left: calc(100% - 18em);
    position: absolute;
    z-index: 100;
  }
}
@media only screen and (min-width: 60em){

}
@media only screen and (min-width: 80em){

}
