@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  font-family: 'Effra', sans-serif;
  position: relative;
  height: 100%;
}

body{
  @include zero;
  position: relative;
  height: 100%;
  background-color: transparent;
}

body:after{
  content: "";
  background-image: url("http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/dots.png");
  background-repeat: repeat;
  background-size: 2em 2em;
  background-position: top;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -10;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.site-wrapper{
  display: block;
  overflow: hidden;
  position: relative;
  @include zero;

}

.ph-graduates{
  margin: 0 auto;
}

// Show navigation on screen when there is no JS
body.noscript{
  .fw-navigation{
        max-height: 15em;
  }

  .fw-toggle{
    @include element-invisible;
  }
}

@media only screen and (min-width: 38em){
  body.noscript{
    .fw-header{
      .logo{
        width: 18em;
        margin: 0;
      }
    }

    .fw-navigation{
      position: absolute;
      width: auto;
      top: 1em;
      right: 2em;
      ul{
        display: block;
        li{
          display: inline-block;
          a{
            padding: 1em;
          }
        }
      }
    }
  }
}
