@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  font-family: 'Effra', sans-serif;
  position: relative;
}

body{
  @include zero;
  position: relative;
  background-color: transparent;
}

body:after{
  content: "";
  background-image: url("http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/dots.png");
  background-repeat: repeat;
  background-size: $grid-size $grid-size;
  background-position: top;
  opacity: $grid-opacity;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -10;
}

.main-bg {
  background-color: $off-white;
  z-index: -13;
}

.skip-links{
  margin: 0;
  padding: 0;
  list-style-type: none;
  a{
    padding: 0.5em 0.75em;
    position: absolute;
    top: -5em;
    background-color: $grey;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    text-decoration: none;
    z-index: 999999;
    a:focus {
      top: 5em;
      right: 1em;
    }
  }
}


.framework-margin {
  margin: 2em 2em 2em 2em;
}

.framework-padding {
  padding: 2em 2em 2em 2em;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.site-wrapper{
  display: block;
  overflow: visible;
  position: relative;
  @include zero;
}

iframe {
  border: none;
}

// Show navigation on screen when there is no JS
body.noscript{
  .fw-navigation{
    max-height: 15em;
    width: 100%;
    display: block;
    position: relative;
    left: 0;
  }

  .fw-toggle{
    @include element-invisible;
  }

  .social{
    @include element-invisible;
  }
  .rtt{
    opacity: 0.5;
    &:hover{
      opacity: 0.75
    }
  }
  .shapes-wrapper {
    display: none;

  }
  .hero-billboard{
    transition: background 250ms ease-in;
    animation: hero 20s steps(1) infinite;
  }

  .clock1{
    display: none;
  }
}

@media only screen and (min-width: 38em){
  body.noscript{
    .fw-header{
      .logo{
        margin: 0;
      }
    }
    .fw-info{
      position: relative;
      padding: 2em;
    }
    .fw-navigation{
      position: absolute;
      width: calc(100% - 16em);
      top: 1em;
      left: 16em;
      ul{
        display: block;
        li{
          display: inline-block;
          a{
            padding: 1em;
          }
          &:before{
            border-bottom: none;
          }
          &:last-child:before{
            border-bottom: none;
          }
          &:hover:before{
            border-bottom: 1px solid darken($svg-top-fill, 30%);
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 80em){
  body.noscript{
    .logo{
      width: 100%;
    }
    .fw-navigation{
    left: 0;
    top: $side-bar-width - 2em;
    position: fixed;
    max-height: $menu-max-height;
    width: $side-bar-width;
    ul{
      li{
        width: 100%;
        &:before{
          left: 2em;
          right: 2em;
          border-bottom: 1px solid darken($svg-top-fill, 30%);
        }
        &:last-child:before{
          border-bottom: none;
        }
        &:hover:before{
          left: 0;
          right: 0;
        }
        a{
          padding: 0.5em 2.6666em;
          font-size: 0.75em;
          line-height: 1.5em;
        }
      }
    }
    }
  }
}
