// Student Portfolio inside page

.pp-name {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0;
  padding-left: .2em;
}

.pp-skill {
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 100;
  margin-bottom: .5em;
}

.pp-desc {
  border-top: 2px solid $black;
  width: 100%;
  padding: 1.5em 0;
  margin-bottom: 0;
}

.pp-links a {
  padding-bottom: 1em;
  text-decoration: none;
  font-weight: 400;
  color: $black;

    &:hover {
      text-decoration: underline;
    }
}

.pp-social-icon {
  width: 80px;

  &:hover {
      -webkit-animation: icons 800ms ease-in-out;
      animation: icons 800ms ease-in-out;
    }

}

@-webkit-keyframes icons {
    0% { -webkit-transform: scale(1.0); }
    50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1.0); }
}

@keyframes icons {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1.0); }
}

//Vimeo Video iframe settings

.pp-vimeo {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;

  iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
  }
}



// Student sprite photo

.pp-image {
  position: relative;
  float: left;
  width: 100%;
  list-style-type: none;
}

.pp-student {
  padding-left: 0;
  padding-right: 0;
}

.pp-image a{
  position: relative;
  display: block;
  padding-top:100%;
  overflow: hidden;
  &:hover .ph-gradphoto-top, &:hover .pp-gradphoto-top {
    top: -100%;
  }
}

.pp-graduates {
  padding-top: 1.5em;
  padding-left: 0em;
  padding-right: 0em;
}

.pp-gradphoto-top {
  position: absolute;
  top: 0;
  left: 0;
  // transition: all 150ms ease-in-out;
}

.pp-pad-left {
  @media only screen and (min-width: 80em) {
    padding-left: .5em;
  }
}

.pp-pad-right {
  @media only screen and (min-width: 80em) {
    padding-right: 1em;
  }
}

.pp-padding {
  padding: 1em 1em 1em 1em;

  @media only screen and (min-width: 80em) {
    padding: 1em 1em 1em 0;
  }
}

// Grads navigation buttons

.pp-wrap {
  width: 100%;
  background-color: rgba($grey-2, .5);
}

.pp-wrap-name {
  width: 100%;
  padding-top: 2.5em;
}

.pp-wrap {
  text-align: center;
}

.pp-nav-btn {
  list-style-type: none;
  width: auto;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0 auto;
}

.pp-nav-btn-li {
  display: inline-block;
  left: 33%;
}

.pp-nav-btn-a {
  width: 8em;
  font-weight: 100;
  @include pp-nav-btn;
}

.pp-nav-btn-arrows {
  width: 4em;
  font-weight: 600;
  margin: 0;
  @include pp-nav-btn;
    &:hover {
      font-weight: 600;
    }
}

.pp-off {
  display: none;
  margin: 0;
}

.pp-on {
  visibility: visible;
}

@media only screen and (min-width: 38em) {

  .pp-on {
    display: none;
  }

  .pp-off {
    display: inherit;
  }

}

@media only screen and (min-width: 60em) {

  .pp-wrap-name {
    background-color: transparent;
  }

  .pp-social-icon {
    width: 95px;
  }

}

@media only screen and (min-width: 80em) {

  .pp-photo {
    padding-top: 0;
  }

  .pp-graduates {
    padding-top: 0;
  }

}
