html{
	font-family: $helvetica;

}

h1{
	font-family:  $roboto-slab;
}

.social-grid {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}

.social-island {
    position: relative;
    margin-bottom: 2em;
}

.social-unit {
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.social-img-flex {
  display: block;
  width: 85%;
  float: left;
}

.social {
	padding-left: 2em;
}

.social-icons {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
	li{
		float: left;
	}


.btn {
	font-size: 1.5em;
}

.social-grey {
	

}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}




@media only screen and (min-width: 25em) {

.social-unit-2-xs {
  width: 50.0000%;
}
}

@media only screen and (min-width: 38em) {

.social-unit-3-m {
  width: 33.3333%;
}
}


