.social {
  padding: 2em;
  max-width: 75em;
  margin: 2em auto;
}

.social-footer{
  display: block;
  background-color: $grey-1;
  overflow: hidden;
  padding: 2em 4em;
  i{
    @include element-invisible;
  }
}

.social-icons {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 10%;
}

.btn {
	font-size: 3em;
}

.social-grey {
  margin-top: 2em;


}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 500px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


@media only screen and (min-width: 25em) {

.social-unit-2-xs {
  width: 50.0000%;
}
}

@media only screen and (min-width: 38em) {

.social-unit-3-m {
  width: 33.3333%;
}
}


