.social-section {
  @include header-1;
}

.social {
  padding: 2em;
  max-width: 75em;
  margin: 2em auto;
}

.social-footer{
  display: block;
  background-color: rgba($grey-2, .5);
  overflow: hidden;
  padding: 2em 1em;
  a{
    color: $white;
    display: block;
    text-decoration: none;
    font-size: 3em;
    span{
      @include element-invisible;
    }
  }
}

.social-icons{
  display: block;
  max-width: 30em;
  margin: 0 auto;
  li{
    display: block;
    overflow: hidden;
    a{
      display: block;
      width: 1em;
      height: 1em;
      margin: 0 auto;
    }
  }
}

.social-facebook{
  background: url('https://grads.images.algonquindesign.ca/2016/img/facebook.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.social-twitter{
  background: url('https://grads.images.algonquindesign.ca/2016/img/twitter.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.social-instagram{
  background: url('https://grads.images.algonquindesign.ca/2016/img/instagram.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.social-facebook, .social-twitter, .social-instagram{
  &:hover, &:focus {
    animation: icons 250ms ease-in-out forwards;
  }
}
