.gd-video-wrap,
.gd-embed {
  position: relative;
}

.gd-embed--16by9 {
  padding-top: 56.25%;
}

.gd-embed__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.gd-btn-play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(http://grads.images.algonquindesign.ca/2016/img/play-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 10em;
  width: 10em;
  border: 0;
  background-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  cursor: pointer;
  z-index: 100;
}

.gd-video-wrap:hover .gd-btn-play-pause,
.gd-video-wrap.is-paused .gd-btn-play-pause {
  opacity: 0.75;
}

.play {
  background-image: url(http://grads.images.algonquindesign.ca/2016/img/play-button.svg);
  opacity: 1;
}

.pause {
  background-image: url(http://grads.images.algonquindesign.ca/2016/img/pause-button.svg);
  opacity: 1;
}
@media only screen and (min-width: 80em){
  .gd-video-wrap.is-paused .gd-btn-play-pause{
    opacity: 0.25;
  }
  .gd-btn-play-pause{
    &:hover{
      opacity: 0.75;
    }
  }
}

.shapes-wrapper{
  margin: 2em 2em 0 2em;
  .shapes-list{
    width: 12em;
    margin: 0 auto;
    .shape{

    }
  }
}




.shapes-list {
  img {
  padding-right: .5em;
  padding-left: .5em;
  opacity: 0.25;
  transition: opacity 250ms ease-in;
  &:hover {
    opacity: 1;
  }
}
}

.hero-billboard{
  transition: background 250ms ease-in-out;
}

.bar{
  position: absolute;
  left : 0%;
  right: 100%;
  bottom: 0;
  border-bottom: 2px solid $yellow;
}

.gd-video-wrap{
  &[data-step="1"]{
    .hero-billboard{
      background: url('https://grads.images.algonquindesign.ca/2016/img/website-banners-1.jpg');
      background-size: cover;
    }
    & ~ .shapes-wrapper .shapes-list .shape:nth-child(1) img{
        opacity: 1;
      }
    .bar{
      right: 75%;
      border-bottom: 2px solid $yellow;
    }
  }
  &[data-step="2"]{
    .hero-billboard{
      background: url('https://grads.images.algonquindesign.ca/2016/img/website-banners-2.jpg');
      background-size: cover;
    }
    & ~ .shapes-wrapper .shapes-list .shape:nth-child(2) img{
        opacity: 1;
      }
    .bar{
      right: 50%;
      border-bottom: 2px solid $purple;
    }
  }
  &[data-step="3"]{
    .hero-billboard{
      background: url('https://grads.images.algonquindesign.ca/2016/img/website-banners-3.jpg');
      background-size: cover;
    }
    & ~ .shapes-wrapper .shapes-list .shape:nth-child(3) img{
        opacity: 1;
      }
    .bar{
      right: 25%;
      border-bottom: 2px solid $green;
    }
  }
  &[data-step="4"]{
    .hero-billboard{
      background: url('https://grads.images.algonquindesign.ca/2016/img/website-banners-4.jpg');
      background-size: cover;
    }
    & ~ .shapes-wrapper .shapes-list .shape:nth-child(4) img{
        opacity: 1;
      }
    .bar{
      right: 0%;
      border-bottom: 2px solid $red;
    }
  }

}


@keyframes hero {
  0%{
    background: url('https://grads.images.algonquindesign.ca/2016/img/website-banners-1.jpg');
    background-size: cover;
  }
  2%,25%{
    background: url('https://grads.images.algonquindesign.ca/2016/img/website-banners-2.jpg');
    background-size: cover;
  }
  27%,50%{
  background: url('https://grads.images.algonquindesign.ca/2016/img/website-banners-3.jpg');
    background-size: cover;
  }
  52%,75%{
  background: url('https://grads.images.algonquindesign.ca/2016/img/website-banners-4.jpg');
    background-size: cover;
  }
  77%,100%{
  background: url('https://grads.images.algonquindesign.ca/2016/img/website-banners-1.jpg');
    background-size: cover;
  }
}
