.gd-video-wrap,
.gd-embed {
  position: relative;
}

.gd-embed--16by9 {
  padding-top: 56.25%;
}

.gd-embed__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.gd-btn-play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(http://grads.images.algonquindesign.ca/2016/img/play-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 10em;
  width: 10em;
  border: 0;
  background-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  cursor: pointer;
  z-index: 100;
}

.gd-video-wrap:hover .gd-btn-play-pause,
.gd-video-wrap.is-paused .gd-btn-play-pause {
  opacity: 0.75;
}

.play {
  background-image: url(http://grads.images.algonquindesign.ca/2016/img/play-button.svg);
  opacity: 1;
}

.pause {
  background-image: url(http://grads.images.algonquindesign.ca/2016/img/pause-button.svg);
  opacity: 1;
}
@media only screen and (min-width: 80em){
  .gd-video-wrap.is-paused .gd-btn-play-pause{
    opacity: 0.25;
  }
  .gd-btn-play-pause{
    &:hover{
      opacity: 0.75;
    }
  }
}

.shapes-wrapper{
  margin: 2em;
  .shapes-list{
    width: 10em;
    margin: 0 auto;
    .shape{

    }
  }
}

.hero-billboard{
  transition: background 250ms ease-in;
  // animation: hero 1s steps(4, start) infinite;
}
.gd-video-wrap{
  &[data-step="1"]{
    .hero-billboard{
      background: url('http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/website-banners-1.jpg');
      background-size: cover;

    }
  }
  &[data-step="2"]{
    .hero-billboard{
      background: url('http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/website-banners-2.jpg');
      background-size: cover;

    }
  }
  &[data-step="3"]{
    .hero-billboard{
      background: url('http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/website-banners-3.jpg');
      background-size: cover;

    }
  }
  &[data-step="4"]{
    .hero-billboard{
      background: url('http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/website-banners-4.jpg');
      background-size: cover;

    }
  }
}

@keyframes hero {
  0%{
    background: url('http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/website-banners-1.jpg');
    background-size: cover;
  }
  33%{
    background: url('http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/website-banners-2.jpg');
    background-size: cover;
  }
  66%{
  background: url('http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/website-banners-3.jpg');
    background-size: cover;
  }
  100%{
  background: url('http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/website-banners-4.jpg');
    background-size: cover;
  }
}
