.gd-video-wrap,
.gd-embed {
  position: relative;
}

.gd-embed--16by9 {
  padding-top: 56.25%;
}

.gd-embed__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.gd-btn-play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(http://grads.images.algonquindesign.ca/2016/img/play-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 10em;
  width: 10em;
  border: 0;
  background-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  cursor: pointer;
}

.gd-video-wrap:hover .gd-btn-play-pause,
.gd-video-wrap.is-paused .gd-btn-play-pause {
  opacity: 0.75;
}

.play {
  background-image: url(http://grads.images.algonquindesign.ca/2016/img/play-button.svg);
  opacity: 0;
}

.pause {
  background-image: url(http://grads.images.algonquindesign.ca/2016/img/pause-button.svg);
  opacity: 0
}
@media only screen and (min-width: 80em){
  .gd-video-wrap.is-paused .gd-btn-play-pause{
    opacity: 0.25;
  }
  // .gd-video-wrap:hover > .gd-btn-play-pause{
  //   opacity: 0.5;
  // }
  .gd-btn-play-pause{
    &:hover{
      opacity: 0.75;
    }
  }
}

