<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
  <link rel="icon" type="image/png" href="http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/fw-favicon.png">
	<link href="https://file.myfontastic.com/GJr888HWLVE4beAYbY2y9k/icons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{ page.meta }}">

</head>
{% include base.html %}

<body class="noscript">
  <h1 class="unit-xs-hidden">Framework 2016</h1>
  {% include header.html %}

  <main class="site-wrapper">
    {{content}}
  </main>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{{site.baseurl}}js/social.js"></script>
  <script src="{{site.baseurl}}/js/fw-navigation.js"></script>
  <script src="https://use.typekit.net/mly7wqm.js"></script>
  <script src="js/social.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/filter.js"></script>

<!--   <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
  <script>
    window.onload = function () {
      try {Typekit.load();} catch(e) {}
    };
  </script>

</body>
</html>
